ultralytics>=8.2.0
opencv-python>=4.8.0
numpy>=1.24.0
pandas>=2.0.0
matplotlib>=3.7.0
PyYAML>=6.0
Pillow>=10.0.0
tqdm>=4.66.0
firebase-admin>=6.5.0
requests>=2.31.0
onnx>=1.15.0
onnxruntime>=1.17.0
pynmea2>=1.19.0
